/.gitattributes text eol=lf
/.gitignore text eol=lf
/package.json text eol=lf
/package-lock.json text eol=lf
/README.md text eol=lf
/version.txt text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.tpl text eol=lf
*.sh text eol=lf
*.rst text eol=lf
js/savesettings.php text eol=lf
vendor/dashticz/security.php text eol=lf
vendor/dashticz/cors.php text eol=lf
vendor/dashticz/info.php text eol=lf
vendor/dashticz/nocache.php text eol=lf
vendor/dashticz/ical/index.php text eol=lf
tools/switch_horizon.php text eol=lf
/dist/** -text
