.standby .block_tc15 			{height: 150px !important;background-color: rgba(0,0,0,1) !important;text-align: left !important}	
.standby .block_tc15 .title 		{display: none !important}
.standby .block_tc15 .value 		{font-size: 22px !important;color:white !important; display:inline-block;position: relative; left: -50px !important;top: -15px !important;}

.block_tc15 			{height: 150px !important;background-color: rgba(0,0,0,1) !important;text-align: left !important}	
.block_tc15 .title 		{display: none !important}
.block_tc15 .value 		{font-size: 22px !important;color:white !important; display:inline-block;position: relative; left: -50px !important;top: -15px !important;}
