.haymanclock p,
.haymanclock div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.haymanclock .clock-day:before {
  content: var(--timer-day);
}
.haymanclock .clock-hours:before {
  content: var(--timer-hours);
}
.haymanclock .clock-minutes:before {
  content: var(--timer-minutes);
}
.haymanclock .clock-seconds:before {
  content: var(--timer-seconds);
}

.haymanclock {
  font-family: 'Montserrat', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
}

.haymanclock .clock-container {
  border-radius: 5px;
  display: -webkit-box;
  display: flex;
  justify-content: space-evenly;
}
.haymanclock .clock-col {
  text-align: center;
  position: relative;
  flex: 1;
}
.haymanclock .clock-col:not(:last-child):before,
.haymanclock .clock-col:not(:last-child):after {
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  height: 4%;
  width: 4%;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -3%;
}
.haymanclock .clock-col:not(:last-child):before {
  top: 37%;
}
.haymanclock .clock-col:not(:last-child):after {
  top: 52%;
}
.haymanclock .clock-timer:before {
  color: #fff;
  font-size: 420%;
  text-transform: uppercase;
}
.haymanclock .clock-label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  font-size: 70%;
  margin-top: -8%;
  margin-bottom: 8%;
}
